################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchMvc/FileContentIndex/5d3c3f07-65fd-4a4c-ba7a-67d2dba2176f.vsidx
/.vs/CleanArchMvc/FileContentIndex/b3d555dc-a8e9-4a5a-a521-c097ec2b25a2.vsidx
