<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }

        h1 {
            color: #333;
            text-align: center; /* Centraliza o título */
        }

        p {
            margin-bottom: 15px;
        }

        section {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>Política de Privacidade</h1>
    <section>
        <h2>Introdução</h2>
        <p>Bem-vindo à nossa Política de Privacidade. Esta política explica como coletamos, usamos, divulgamos e protegemos suas informações pessoais quando você usa nosso site.</p>
    </section>
    <section>
        <h2>Informações que Coletamos</h2>
        <p>Coletamos informações pessoais que você nos fornece diretamente, como seu nome, endereço de e-mail, e outras informações de contato. Também podemos coletar informações automaticamente quando você usa nosso site, como seu endereço IP, tipo de navegador e dados de navegação.</p>
    </section>
    <section>
        <h2>Uso das Informações</h2>
        <p>Utilizamos suas informações pessoais para fornecer e melhorar nossos serviços, responder às suas perguntas e enviar comunicações relacionadas ao nosso site. Não compartilhamos suas informações com terceiros, exceto conforme necessário para operar nossos serviços ou conforme exigido por lei.</p>
    </section>
    <section>
        <h2>Segurança das Informações</h2>
        <p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro.</p>
    </section>
    <section>
        <h2>Alterações a Esta Política</h2>
        <p>Podemos atualizar nossa Política de Privacidade periodicamente. Notificaremos você sobre quaisquer alterações, publicando a nova política em nosso site. Recomendamos que você reveja esta política regularmente para se manter informado sobre nossas práticas de privacidade.</p>
    </section>
    <section>
        <h2>Contato</h2>
        <p>Se você tiver alguma dúvida ou preocupação sobre nossa Política de Privacidade, entre em contato conosco pelo e-mail <a href="mailto:contato@exemplo.com">contato@exemplo.com</a>.</p>
    </section>
</body>
</html>
